
@{
    ViewBag.Title = "MyCertification";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Certification</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Certification</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    var listCity = hris.list._dbLOV("Kabupaten");
    var listCountry = hris.list._dbLOV("Country");
    function loadCertification(callback) {
        var url = "http://localhost:54636/api/profileCertification/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'certificationName', type: 'string' },
                { name: 'issuedCity', type: 'int' },
                { name: 'issuedCityName', value: 'issuedCity', values: { source: listCity.records, value: 'value', name: 'label' } },
                { name: 'issuedCountry', type: 'int' },
                { name: 'issuedCountryName', value: 'issuedCountry', values: { source: listCountry.records, value: 'value', name: 'label' } },
                { name: 'issuedDate', type: 'date' },
                { name: 'issuedExpiredDate', type: 'date' }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#certificationTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: "10%" },
              { text: 'IDV', datafield: 'IDV', width: "10%" },
              { text: 'Name', datafield: 'certificationName', width: "20%" },
              { text: 'City', datafield: 'issuedCityName', width: "20%" },
              { text: 'Country', datafield: 'issuedCountryName', width: "20%" },
              { text: 'Date', datafield: 'issuedDate', width: "20%" },
              { text: 'Expired', datafield: 'issuedExpiredDate', width: "20%" }
            ]
        });
        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("certificationName", null);
        
        hris.general.bindDropDown("Country", null);
        hris.general.bindDropDown("Kabupaten", null);
        hris.general.bindDateTime("issuedDate", null);
        hris.general.bindDateTime("issuedExpiredDate", null);
    }

    $(document).ready(function () {
        hris.general.bindButton("addButton");
        loadCertification(createForm);
    });
</script>





<div class="row">
    <div class="col-lg-10">
        <div class="pull-right btn-sm" id="addButton" data-toggle="modal" data-target="#mySkillModal">Add</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="certificationTable"></div>
    </div>
</div>

<div id="mySkillModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Skill Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="certificationName">Certification Name</label>
                    <input type="text" class="form-control" id="certificationName" />
                </div>

                <div class="form-group">
                    <label for="Country">Country</label>
                    <div class="form-control" id="Country"></div>
                </div>
                <div class="form-group">
                    <label for="Kabupaten">City</label>
                    <div class="form-control" id="Kabupaten"></div>
                </div>
                <div class="form-group">
                    <label for="issuedDate">Date</label>
                    <div class="form-control" id="issuedDate"></div>
                </div>
                <div class="form-group">
                    <label for="issuedExpiredDate">Expired Date</label>
                    <div class="form-control" id="issuedExpiredDate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>







