
@{
    ViewBag.Title = "MyCertification";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Certification</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Certification</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    var listCity = hris.list._dbLOV("Kabupaten");
    var listCountry = hris.list._dbLOV("Country");
    function loadCertification(callback) {
        var url = "http://localhost:54636/api/profileCertification/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'certificationName', type: 'string' },
                { name: 'issuedCity', type: 'int' },
                { name: 'issuedCityName', value: 'issuedCity', values: { source: listCity.records, value: 'value', name: 'label' } },
                { name: 'issuedCountry', type: 'int' },
                { name: 'issuedCountryName', value: 'issuedCountry', values: { source: listCountry.records, value: 'value', name: 'label' } },
                { name: 'issuedDate', type: 'date' },
                { name: 'issuedExpiredDate', type: 'date' }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#certificationTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: "10%" },
              { text: 'IDV', datafield: 'IDV', width: "10%" },
              { text: 'Name', datafield: 'certificationName', width: "20%" },
              { text: 'City', datafield: 'issuedCityName', width: "20%" },
              { text: 'Country', datafield: 'issuedCountryName', width: "20%" },
              { text: 'Date', datafield: 'issuedDate', width: "20%" },
              { text: 'Expired', datafield: 'issuedExpiredDate', width: "20%" }
            ]
        });
        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        
    }
    var Certification = {
        url: "http://localhost:54636/api/profileCertification",
        add: function (data) {
            console.log("create new", data);
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    $('#certificationTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        update: function (data) {
            console.log("update dulu", data);
            $.ajax({
                url: this.url + "/" + data.ID,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    $('#certificationTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        Grid: {
            dataSelected: {},
            rowSelected: function (o) {
                console.log("rowSel", o);
                Certification.Grid.dataSelected = o.args.row;
                console.log("modal data", Certification.Grid.dataSelected);
            }
        },
        Modal: {
            data: {},
            create: function () {
                console.log("Create Form");
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("certificationName", null);
                hris.general.bindDropDown("Country", null);
                hris.general.bindDropDown("Kabupaten", null);
                hris.general.bindDateTime("issuedDate", null);
                hris.general.bindDateTime("issuedExpiredDate", null);
            },
            show: function () {
                $("#myCertificationModal").modal("show", true);
            },
            clean: function () {
                console.log("Modal Cleaned");
                hris.general.cleanInput("rowId");
                hris.general.cleanInput("certificationName");
                hris.general.cleanDropDown("Country");
                hris.general.cleanDropDown("Kabupaten");
                hris.general.cleanDateTime("issuedDate");
                hris.general.cleanDateTime("issuedExpiredDate");

            },
            fill: function () {
                console.log("Fill Form");
                var data = Certification.Grid.dataSelected;
                hris.general.bindInput("rowId", data.ID);
                hris.general.bindInput("certificationName", data.certificationName);
                hris.general.bindDropDown("Country", data.issuedCountry);
                hris.general.bindDropDown("Kabupaten", data.issuedCity);
                hris.general.bindDateTime("issuedDate", data.CertificationLevel);
                hris.general.bindDateTime("issuedExpiredDate", data.CertificationLevel);
            },
            submit: function () {
                var data = {
                    ID: hris.general.getData("rowId"),
                    certificationName: hris.general.getData("certificationName"),
                    issuedCountry: hris.general.getData("Country"),
                    issuedCity: hris.general.getData("Kabupaten"),
                    issuedDate: hris.general.getData("issuedDate"),
                    issuedExpiredDate: hris.general.getData("issuedExpiredDate")
                }
                console.log("Modal Submit", data);
                // Proses save
                if (data.ID) {
                    Certification.update(data);
                } else {
                    Certification.add(data);
                }
            },
            add: function () {
                Certification.Modal.clean();
                Certification.Modal.show();
            },
            edit: function () {
                if (Certification.Grid.dataSelected.uniqueid) {
                    Certification.Modal.clean();
                    Certification.Modal.fill();
                    Certification.Modal.show();
                } else {
                    Certification.Modal.error();
                }
            },
            error: function () {
                $("#myErrorModal").modal("show", true);
            }
        },
    }
    $(document).ready(function () {
        loadCertification(Certification.Modal.create);
        $("#submit").click(Certification.Modal.submit);
        $("#editButton").click(Certification.Modal.edit);
        $("#addButton").click(Certification.Modal.add);
        $("#certificationTable").on('rowselect', Certification.Grid.rowSelected);
    });
</script>
<div class="row">
    <div class="col-lg-10">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button id="addButton" class="btn btn-success ">Add</button>
            <button id="editButton" class="btn btn-info">Edit</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="certificationTable"></div>
    </div>
</div>

<div id="myCertificationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Certification Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="rowId" />
                </div>
                <div class="form-group">
                    <label for="certificationName">Certification Name</label>
                    <input type="text" class="form-control" id="certificationName" />
                </div>

                <div class="form-group">
                    <label for="Country">Country</label>
                    <div class="form-control" id="Country"></div>
                </div>
                <div class="form-group">
                    <label for="Kabupaten">City</label>
                    <div class="form-control" id="Kabupaten"></div>
                </div>
                <div class="form-group">
                    <label for="issuedDate">Date</label>
                    <div class="form-control" id="issuedDate"></div>
                </div>
                <div class="form-group">
                    <label for="issuedExpiredDate">Expired Date</label>
                    <div class="form-control" id="issuedExpiredDate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myErrorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                No data selected!
            </div>

        </div>

    </div>
</div>






