
@{
    ViewBag.Title = "MyDependent";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<script type="text/javascript">
    var listName = hris.list._getLOV("Name");
    function loadDependent(callback) {
        var url = "/api/profileDependent/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'IDVDependent', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'relationType', type: 'date' },
                { name: 'relationName', value: 'relationType', values: { source: listName.records, value: 'value', name: 'label' }},
                { name: 'insuranceCovered', type: 'int' },
                { name: 'taxDependent', type: 'int' }
            ],
            id: 'IDV',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#dependentTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'Relation Type', datafield: 'relationName', width: '30%' },
              { text: 'Insurance Covered', datafield: 'insuranceCovered', width: '30%' },
              { text: 'Tax Dependent', datafield: 'taxDependent', minwidth: '20%' }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {

    }
    var Dependent = {
        url: "/api/profileDependent/",
        add: function (data) {
            console.log("create new", data);
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    $('#dependentTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        update: function (data) {
            console.log("update dulu", data);
            $.ajax({
                url: this.url + data.ID,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    $('#dependentTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        Grid: {
            dataSelected: {},
            rowSelected: function (o) {
                console.log("rowSel", o);
                Dependent.Grid.dataSelected = o.args.row;
                console.log("modal data", Dependent.Grid.dataSelected);
            }
        },
        Modal: {
            data: {},
            create: function () {
                console.log("Create Form");
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("insuranceCovered", null);
                hris.general.bindInput("taxDependent", null);
                hris.general.bindDropDown("relationType", null);
            },
            show: function () {
                $("#myDependentModal").modal("show", true);
            },
            clean: function () {
                console.log("Modal Cleaned");
                hris.general.cleanInput("rowId");
                hris.general.cleanInput("insuranceCovered");
                hris.general.cleanInput("taxDependent");
                hris.general.cleanDropDown("relationType");
            },
            add: function () {
                Dependent.Modal.clean();
                Dependent.Modal.show();
            },
            edit: function () {
                if (Dependent.Grid.dataSelected.uniqueid) {
                    Dependent.Modal.clean();
                    Dependent.Modal.fill();
                    Dependent.Modal.show();
                } else {
                    Dependent.Modal.error();
                }
            },
            fill: function () {
                console.log("Fill Form");
                var data = Dependent.Grid.dataSelected;
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("insuranceCovered", null);
                hris.general.bindInput("taxDependent", null);
                hris.general.bindDropDown("relationType", null);
            },
            error: function () {
                $("#myErrorModal").modal("show", true);
            },
            submit: function () {
                var data = {
                    ID: hris.general.getData("rowId"),
                    idNumber: hris.general.getData("idNumber"),
                    idType: hris.general.getData("ID"),
                    issuedCountry: hris.general.getData("Country"),
                    expiredDate: hris.general.getData("expiredDate")
                }
                console.log("Modal Submit", data);
                // Proses save
                if (data.ID) {
                    Dependent.update(data);
                } else {
                    Dependent.add(data);
                }
            }
        },
    }
    $(document).ready(function () {
        loadDependent(Dependent.Modal.create);
        $("#submit").click(Dependent.Modal.submit);
        $("#editButton").click(Dependent.Modal.edit);
        $("#addButton").click(Dependent.Modal.add);
        $("#dependentTable").on('rowselect', Dependent.Grid.rowSelected);
    });
</script>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Employee</li>
        <li class="active">Dependent</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>

<div class="page-content">
    <div class="col-sm-12">
        <div class="widget-box transparent" id="recent-box">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">
                    <i class="ace-icon fa fa-rss orange"></i>EMPLOYEE DEPENDENT
                </h4>
                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="recent-tab">
                        <li>
                            <button id="addButton" class="btn btn-success pull-right">Create</button>
                        </li>
                        <li>
                            <button id="editButton" class="btn btn-info pull-right">Update</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-4">
                    <div id="dependentTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myDependentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dependent Info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="rowId" />
                </div>
                <div class="form-group">
                    <label for="relationType">Relation</label>
                    <div class="form-control" id="relationType"></div>
                </div>
                <div class="form-group">
                    <label for="insuranceCovered">Insurance Covered</label>
                    <input type="text" class="form-control" id="insuranceCovered" />
                </div>
                <div class="form-group">
                    <label for="taxDependent">Tax Dependent</label>
                    <input type="text" class="form-control" id="taxDependent" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="myErrorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning Form</h4>
            </div>
            <div class="modal-body">
                No data selected!
            </div>

        </div>

    </div>
</div>

