
@{
    ViewBag.Title = "MyDependentBeta";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}


<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Dependent</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Dependent</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    var listName = hris.list._getLOV("Name");
    function loadDependent(callback) {
        var url = "http://localhost:54636/api/profileDependent/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'IDVDependent', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'relationType', type: 'date' },
                { name: 'relationName', value: 'relationType', values: { source: listName.records, value: 'value', name: 'label' }},
                { name: 'insuranceCovered', type: 'int' },
                { name: 'taxDependent', type: 'int' }
            ],
            id: 'IDV',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#dependentTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'IDV Dependent', datafield: 'IDVDependent', width: '10%' },
              { text: 'IDV', datafield: 'IDV', width: '10%' },
              { text: 'Relation Type', datafield: 'relationName', width: '20%' },
              { text: 'Insurance Covered', datafield: 'insuranceCovered', width: '20%' },
              { text: 'Tax Dependent', datafield: 'taxDependent', minwidth: '20%' }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("insuranceCovered",null);
        hris.general.bindInput("taxDependent",null);
        hris.general.bindDropDown("relationType",null);
    }

    $(document).ready(function () {
        
        console.log("listName", listName);
        hris.general.bindButton("addButton");
        loadDependent(createForm);  
    });
</script>

<div class="row">
    <div class="col-lg-10">
        <div class="pull-right btn-sm" id="addButton" data-toggle="modal" data-target="#myDependentModal">Add</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="dependentTable"></div>
    </div>
</div>

<div id="myDependentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dependent Info</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="relationType">Relation</label>
                    <div class="form-control" id="relationType"></div>
                </div>
                <div class="form-group">
                    <label for="insuranceCovered">Insurance Covered</label>
                    <input type="text" class="form-control" id="insuranceCovered" />
                </div>
                <div class="form-group">
                    <label for="taxDependent">Tax Dependent</label>
                    <input type="text" class="form-control" id="taxDependent" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
