
@{
    ViewBag.Title = "MyDependentBeta";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}


<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Dependent</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Dependent</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    $(document).ready(function () {
        var url = "http://localhost:54636/api/profileDependent/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'IDVDependent', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'relationType', type: 'date' },
                { name: 'insuranceCovered', type: 'int' },
                { name: 'taxDependent', type: 'int' }
            ],
            id: 'IDV',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#dependentTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'IDV Dependent', datafield: 'IDVDependent', width: 125 },
              { text: 'IDV', datafield: 'IDV', width: 125 },
              { text: 'Relation Type', datafield: 'relationType', width: 125 },
              { text: 'Insurance Covered', datafield: 'insuranceCovered', width: 120 },
              { text: 'Tax Dependent', datafield: 'taxDependent', minwidth: 120 }
            ]
        });
    });
</script>

<div id="dependentTable"></div>