
@{
    ViewBag.Title = "MyEducation";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}


<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Education</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Education</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    $(document).ready(function () {
        var url = "http://localhost:54636/api/profileEdu/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'eduCountry', type: 'int' },
                { name: 'eduGraduate', type: 'string' },
                { name: 'eduLevel', type: 'int' },
                { name: 'eduMajor', type: 'int' },
                { name: 'eduValue', type: 'string' }
            ],
            id: 'IDV',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#educationTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: 125 },
              { text: 'IDV', datafield: 'IDV', width: 125 },
              { text: 'Country', datafield: 'eduCountry', width: 125 },
              { text: 'Graduate', datafield: 'eduGraduate', width: 120 },
              { text: 'Level', datafield: 'eduLevel', minwidth: 120 },
              { text: 'Major', datafield: 'eduMajor', minwidth: 120 },
              { text: 'Value', datafield: 'eduValue', minwidth: 120 }
            ]
        });
    });
</script>

<div id="educationTable"></div>

