
@{
    ViewBag.Title = "MyIdentity";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">My Identity</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">My Identity</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    var listID = hris.list._dbLOV("ID");
    var listCountry = hris.list._dbLOV("Country");

    function loadIdentity(cb) {
        var url = "http://localhost:54636/api/profileIdentity/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'expiredDate', type: 'date' },
                { name: 'idNumber', type: 'int' },
                { name: 'idType', type: 'int' },
                { name: 'idName', value: 'idType', values: { source: listID.records, value: 'value', name: 'label' } },
                { name: 'issuedCountry', type: 'int' },
                { name: 'issuedCountryName', value: 'issuedCountry', values: { source: listCountry.records, value: 'value', name: 'label' } }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#identityTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: "10%" },
              { text: 'Expired Date', datafield: 'expiredDate', width: "20%" },
              { text: 'ID Number', datafield: 'idNumber', width: "20%" },
              { text: 'ID Type', datafield: 'idName', width: "10%" },
              { text: 'Issued Country', datafield: 'issuedCountryName', minwidth: "15%" }
            ]
        });
        if (cb != undefined) {
            cb();
        }
    }
    var Identity = {
        url: "http://localhost:54636/api/profileIdentity/",
        add: function (data) {
            console.log("create new", data);
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    $('#identityTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error",e);
                }
            });
        },
        update: function (data) {
            console.log("update dulu", data);
            $.ajax({
                url: this.url + data.ID,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    $('#identityTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        Grid: {
            dataSelected : {},
            rowSelected: function (o) {
                console.log("rowSel", o);
                Identity.Grid.dataSelected = o.args.row;
                console.log("modal data", Identity.Grid.dataSelected);
            }
        },
        Modal: {
            data : {},
            create: function () {
                console.log("Create Form");
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("idNumber", null);
                hris.general.bindDropDown("ID", null);
                hris.general.bindDropDown("Country", null);
                hris.general.bindDateTime("expiredDate", null);
            },
            show : function () {
                $("#myIdentityModal").modal("show", true);
            },
            clean: function () {
                console.log("Modal Cleaned");
                hris.general.cleanInput("rowId");
                hris.general.cleanInput("idNumber");
                hris.general.cleanDropDown("ID");
                hris.general.cleanDropDown("Country");
                hris.general.cleanDateTime("expiredDate");
            },
            add: function () {
                Identity.Modal.clean();
                Identity.Modal.show();
            },
            edit: function () {
                if (Identity.Grid.dataSelected.uniqueid) {
                    Identity.Modal.clean();
                    Identity.Modal.fill();
                    Identity.Modal.show();
                } else {
                    Identity.Modal.error();
                }
            },
            fill: function () {
                console.log("Fill Form");
                var data = Identity.Grid.dataSelected;
                hris.general.bindInput("rowId", data.ID);
                hris.general.bindInput("idNumber", data.idNumber);
                hris.general.bindDropDown("ID", data.idType);
                hris.general.bindDropDown("Country", data.issuedCountry);
                hris.general.bindDateTime("expiredDate", data.expiredDate);
            },
            error: function () {
                $("#myErrorModal").modal("show",true);
            },
            submit: function () {
                var data = {
                    ID: hris.general.getData("rowId"),
                    idNumber: hris.general.getData("idNumber"),
                    idType: hris.general.getData("ID"),
                    issuedCountry: hris.general.getData("Country"),
                    expiredDate: hris.general.getData("expiredDate")
                }
                console.log("Modal Submit", data);
                // Proses save
                if (data.ID) {
                    Identity.update(data);
                } else {
                    Identity.add(data);
                }
            }
        },
    }
        
    $(document).ready(function () {
        loadIdentity(Identity.Modal.create);
        $("#submit").click(Identity.Modal.submit);
        $("#editButton").click(Identity.Modal.edit);
        $("#addButton").click(Identity.Modal.add);
        $("#identityTable").on('rowselect', Identity.Grid.rowSelected);
    });
</script>
<div class="row">
    <div class="col-lg-10">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button id="addButton" class="btn btn-success ">Add</button>
            <button id="editButton" class="btn btn-info">Edit</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div id="identityTable"></div>
    </div>
</div>

<div id="myIdentityModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Identity Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                   <input type="hidden" class="form-control" id="rowId" />
                </div>
                <div class="form-group">
                    <label for="ID">Type</label>
                    <div class="form-control" id="ID"></div>
                </div>
                <div class="form-group">
                    <label for="idNumber">ID Number</label>
                    <input type="text" class="form-control" id="idNumber" />
                </div>
                <div class="form-group">
                    <label for="Country">Country</label>
                    <div class="form-control" id="Country"></div>
                </div>
                <div class="form-group">
                    <label for="expiredDate">Expired Date</label>
                    <div class="form-control" id="expiredDate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myErrorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning Form</h4>
            </div>
            <div class="modal-body">    
                No data selected!
                </div>
            
        </div>

    </div>
</div>



