
@{
    ViewBag.Title = "MyLanguage";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Language</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Language</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    var listSkillLevel = hris.list._dbLOV("SkillLevel");
    function loadLanguage(callback) {
        var url = "http://localhost:54636/api/profileLanguage/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'languageName', type: 'string' },
                { name: 'spoken', type: 'int' },
                { name: 'spokenName', value: 'spoken', values: { source: listSkillLevel.records, value: 'value', name: 'label' } },
                { name: 'written', type: 'int' },
                { name: 'writtenName', value: 'written', values: { source: listSkillLevel.records, value: 'value', name: 'label' } }


            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#languageTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: "10%" },
              { text: 'IDV', datafield: 'IDV', width: "10%" },
              { text: 'Name', datafield: 'languageName', width: "20%" },
              { text: 'Spoken', datafield: 'spokenName', width: "10%" },
              { text: 'Written', datafield: 'writtenName', minwidth: "10%" }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("languageName", null);
        hris.general.bindInput("spoken", null);
        hris.general.bindInput("written", null);
    }

    $(document).ready(function () {
        hris.general.bindButton("addButton");
        loadLanguage(createForm);
    });
</script>


<div class="row">
    <div class="col-lg-10">
        <div class="pull-right btn-sm" id="addButton" data-toggle="modal" data-target="#myLanguageModal">Add</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="languageTable"></div>
    </div>
</div>

<div id="myLanguageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Language Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="languageName">Language Name</label>
                    <input type="text" class="form-control" id="languageName" />
                </div>
                
                <div class="form-group">
                    <label for="spoken">Spoken</label>
                    <input type="text" class="form-control" id="spoken" />
                </div>
                <div class="form-group">
                    <label for="written">Written</label>
                    <input type="text" class="form-control" id="written" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




