
@{
    ViewBag.Title = "MyLanguage";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<script type="text/javascript">
    var listSkillLevel = hris.list._dbLOV("SkillLevel");
    function loadLanguage(callback) {
        var url = "http://localhost:54636/api/profileLanguage/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'languageName', type: 'string' },
                { name: 'spoken', type: 'int' },
                { name: 'spokenName', value: 'spoken', values: { source: listSkillLevel.records, value: 'value', name: 'label' } },
                { name: 'written', type: 'int' },
                { name: 'writtenName', value: 'written', values: { source: listSkillLevel.records, value: 'value', name: 'label' } }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#languageTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'Name', datafield: 'languageName', minwidth: "35%" },
              { text: 'Spoken', datafield: 'spokenName', width: "20%" },
              { text: 'Written', datafield: 'writtenName', width: "20%" }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("languageName", null);
        hris.general.bindInput("spoken", null);
        hris.general.bindInput("written", null);
    }
    var Language = {
        url: "http://localhost:54636/api/profileLanguage",
        add: function (data) {
            console.log("create new", data);
            data.vCreatedBy = cIDV;
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    $('#languageTable').jqxGrid('updatebounddata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        update: function (data) {
            console.log("update dulu", data);
            data.vUpdatedBy = cIDV;
            $.ajax({
                url: this.url + "/" + data.ID,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    $('#languageTable').jqxGrid('updatebounddata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        Grid: {
            dataSelected: {},
            rowSelected: function (o) {
                console.log("rowSel", o);
                Language.Grid.dataSelected = o.args.row;
                console.log("modal data", Language.Grid.dataSelected);
            }
        },
        Modal: {
            data: {},
            create: function () {
                console.log("Create Form");
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("languageName", null);
                hris.general.bindInput("spoken", null);
                hris.general.bindInput("written", null);
            },
            show: function () {
                $("#myLanguageModal").modal("show", true);
            },
            clean: function () {
                console.log("Modal Cleaned");
                hris.general.cleanInput("rowId");
                hris.general.cleanInput("languageName");
                hris.general.cleanInput("spoken");
                hris.general.cleanInput("written");
            },
            fill: function () {
                console.log("Fill Form");
                var data = Language.Grid.dataSelected;
                hris.general.bindInput("rowId", data.ID);
                hris.general.bindInput("languageName", data.languageName);
                hris.general.bindInput("spoken", data.spoken);
                hris.general.bindInput("written", data.written);
            },
            submit: function () {
                var data = {
                    ID: hris.general.getData("rowId"),
                    IDV: cIDV,
                    languageName: hris.general.getData("languageName"),
                    spoken: hris.general.getData("spoken"),
                    written: hris.general.getData("written")
                }
                console.log("Modal Submit", data);
                // Proses save
                if (data.ID) {
                    Language.update(data);
                } else {
                    Language.add(data);
                }
            },
            add: function () {
                Language.Modal.clean();
                Language.Modal.show();
            },
            edit: function () {
                if (Language.Grid.dataSelected.uniqueid) {
                    Language.Modal.clean();
                    Language.Modal.fill();
                    Language.Modal.show();
                } else {
                    Language.Modal.error();
                }
            },
            error: function () {
                $("#myErrorModal").modal("show", true);
            }
        },
    }
    $(document).ready(function () {
        loadLanguage(Language.Modal.create);
        $("#submit").click(Language.Modal.submit);
        $("#editButton").click(Language.Modal.edit);
        $("#addButton").click(Language.Modal.add);
        $("#languageTable").on('rowselect', Language.Grid.rowSelected);
    });
</script>
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Employee</li>
        <li class="active">Identity</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>

<div class="page-content">
    <div class="col-sm-12">
        <div class="widget-box transparent" id="recent-box">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">
                    <i class="ace-icon fa fa-rss orange"></i>EMPLOYEE LANGUAGE
                </h4>
                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="recent-tab">
                        <li>
                            <button id="addButton" class="btn btn-success pull-right">Create</button>
                        </li>
                        <li>
                            <button id="editButton" class="btn btn-info pull-right">Update</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-4">
                    <div id="languageTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myLanguageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Language Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="rowId" />
                </div>
                <div class="form-group">
                    <label for="languageName">Language Name</label>
                    <input type="text" class="form-control" id="languageName" />
                </div>
                
                <div class="form-group">
                    <label for="spoken">Spoken</label>
                    <input type="text" class="form-control" id="spoken" />
                </div>
                <div class="form-group">
                    <label for="written">Written</label>
                    <input type="text" class="form-control" id="written" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="myErrorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                No data selected!
            </div>

        </div>

    </div>
</div>


