
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>



<script type="text/javascript">
    //var baseURL = '@Url.Content("~")';
    //var baseUrl = document.location.origin;
    //console.log(baseURL);
    Profile = {
        url:  baseURL + 'api/profile',
        id: cIDV,
        add: function (data) {
            console.log("Add New", data);
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    Profile.load();
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        edit: function (data) {
            console.log("edit data", data);
            $.ajax({
                url: this.url + "/" + this.id,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    Profile.load();
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        load: function () {
            $.ajax({
                url: this.url+"/" + this.id,
                success: function (result) {
                    Profile.fill(result);
                },
                error: function (e) {
                    console.log("Err", e);
                }
            });
        },
        fill: function (obj) {
            console.log("Fill Form");
            hris.general.bindInput("IDV", obj.IDV);
            hris.general.bindInput("Name", obj.Name);
            hris.general.bindInput("NickName", obj.NickName);
            hris.general.bindInput("NIP", obj.NIP);
            hris.general.bindInput("Birthplace", obj.Birthplace);
            hris.general.bindDropDown("Religion", obj.Religion);
            hris.general.bindDropDown("Gender", obj.Gender);
            hris.general.bindDropDown("Marital", obj.Marital);
            hris.general.bindDropDown("Country", obj.Nationality);
            hris.general.bindDateTime("Birthdate", obj.Birthdate);

            // Employee
            hris.general.bindInput("employeeID", obj.employeeID);
            hris.general.bindInput("UID_ABSENCE", obj.UID_ABSENCE);
            hris.general.bindInput("active", obj.active);
            hris.general.bindDropDown("EmpStatus", obj.employmentStatus);
            hris.general.bindDateTime("joinDate", obj.joinDate);
            hris.general.bindDateTime("resignDate", obj.resignDate);
            hris.general.bindDateTime("contract1Start", obj.contract1start);
            hris.general.bindDateTime("contract1End", obj.contract1End);
            hris.general.bindDateTime("contract2Start", obj.contract2start);
            hris.general.bindDateTime("contract2End", obj.contract2End);
            hris.general.bindDateTime("contract3Start", obj.contract3start);
            hris.general.bindDateTime("contract3End", obj.contract3End);
        },
        submit : function(){
            var data = {
                IDV : hris.general.getData("IDV"),
                Name : hris.general.getData("Name"),
                NickName : hris.general.getData("NickName"),
                NIP : hris.general.getData("NIP"),
                Birthplace : hris.general.getData("Birthplace"),
                Religion : hris.general.getData("Religion"),
                Gender : hris.general.getData("Gender"),
                Marital : hris.general.getData("Marital"),
                Nationality: hris.general.getData("Country"),
                Birthdate: hris.general.getData("Birthdate"),
                employeeID : hris.general.getData("employeeID"),
                UID_ABSENCE : hris.general.getData("UID_ABSENCE"),
                active : hris.general.getData("active"),
                employmentStatus : hris.general.getData("EmpStatus"),
                joinDate : hris.general.getData("joinDate"),
                resignDate : hris.general.getData("resignDate"),
                contract1Start : hris.general.getData("contract1Start"),
                contract1End : hris.general.getData("contract1End"),
                contract2Start : hris.general.getData("contract2Start"),
                contract2End : hris.general.getData("contract2End"),
                contract3Start : hris.general.getData("contract3Start"),
                contract3End : hris.general.getData("contract3End")
            }
            console.log("etsave", data);
            if (data.IDV) {
                Profile.edit(data);
            } else {
                Profile.add(data);
            }
        }
    }

    $(document).ready(function () {
        hris.menu.roots("subMenuProfile");
        hris.menu.sub("subMenuMyProfile");
        Profile.load();
        $("#submit").click(Profile.submit);
    });
</script>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Employee</li>
        <li class="active">Profile</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
        </form>
    </div><!-- /.nav-search -->
</div>

<div class="page-header">
    <h1>
        Profile
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Update
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="page-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box transparent" id="recent-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-rss orange"></i>EMPLOYEE PROFILE
                    </h4>

                    <div class="widget-toolbar no-border">
                        <ul class="nav nav-tabs" id="recent-tab">
                            <li class="active">
                                <a data-toggle="tab" href="#task-tab">General Info</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#member-tab">Employee Info</a>
                            </li>
                            <li>
                                <button id="submit" class="btn btn-info pull-right">Update</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main padding-4">
                        <div class="tab-content padding-8">
                            <div id="task-tab" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="IDV" />
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="NIP">NIP</label>
                                                <input class="form-control" type="text" id="NIP" placeholder="NIP" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Name">Name</label>
                                                <input class="form-control" type="text" id="Name" placeholder="Name" />
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="NickName">Nickname</label>
                                                <input class="form-control" type="text" id="NickName" placeholder="Nickname" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Birthdate">Birth Date</label>
                                                <div class="form-control" id="Birthdate"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Birthplace">Birth Place</label>
                                                <input class="form-control" type="text" id="Birthplace" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Religion">Religion</label>
                                                <div class="form-control" id="Religion"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Gender">Gender</label>
                                                <div class="form-control" id="Gender"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Marital">Marital</label>
                                                <div class="form-control" id="Marital"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="Country">Nationality</label>
                                                <div class="form-control" id="Country"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="member-tab" class="tab-pane">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="employeeID">Employee ID</label>
                                                <input class="form-control" type="text" id="employeeID" placeholder="Employee ID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="UID_ABSENCE">UID ABSENCE</label>
                                                <input class="form-control" type="text" id="UID_ABSENCE" placeholder="UID_ABSENCE" />
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="EmpStatus">Employment Status</label>
                                                <div class="form-control" id="EmpStatus"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="joinDate">Join Date</label>
                                                <div class="form-control" id="joinDate"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="resignDate">Resign Date</label>
                                                <div class="form-control" id="resignDate"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="contract1Start">Contract#1 Start</label>
                                                <div class="form-control" id="contract1Start"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="contract1End">Contract#1 End</label>
                                                <div class="form-control" id="contract1End"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="contract2Start">Contract#2 Start</label>
                                                <div class="form-control" id="contract2Start"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="contract2End">Contract#2 End</label>
                                                <div class="form-control" id="contract2End"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="contract3Start">Contract#3 Start</label>
                                                <div class="form-control" id="contract3Start"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="contract3End">Contract#3 End</label>
                                                <div class="form-control" id="contract3End"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <label for="active">Active</label>
                                                <input class="form-control" type="text" id="active" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.#member-tab -->

                            <div></div>

                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div><!-- /.col -->


    </div>
</div>



