
@{
    ViewBag.Title = "MySkill";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">My Skill</a>
    </div>

    <!--
    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Skill</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
        -->
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    var listSkillLevel = hris.list._dbLOV("SkillLevel");
    function loadSkill(callback) {
        var url = "http://localhost:54636/api/profileSkill/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'skillName', type: 'string' },
                { name: 'skillLevel', type: 'int' },
                { name: 'skillLevelName', value: 'skillLevel', values: { source: listSkillLevel.records, value: 'value', name: 'label' } }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#skillTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'Name', datafield: 'skillName', minwidth: "50%" },
              { text: 'Level', datafield: 'skillLevelName', width: "25%" }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("skillName", null);
        hris.general.bindDropDown("skillLevel", null);
    }
    var Skill = {
        url: "http://localhost:54636/api/profileSkill",
        add: function (data) {
            console.log("create new", data);
            data.vCreatedBy = cIDV;
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    $('#skillTable').jqxGrid('updatebounddata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        update: function (data) {
            console.log("update dulu", data);
            data.vUpdatedBy = cIDV;
            $.ajax({
                url: this.url + "/" + data.ID,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    $('#skillTable').jqxGrid('updatebounddata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        Grid: {
            dataSelected: {},
            rowSelected: function (o) {
                console.log("rowSel", o);
                Skill.Grid.dataSelected = o.args.row;
                console.log("modal data", Skill.Grid.dataSelected);
            }
        },
        Modal: {
            data: {},
            create: function () {
                console.log("Create Form");
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("skillName", null);
                hris.general.bindDropDown("skillLevel", null);
            },
            show: function () {
                $("#mySkillModal").modal("show", true);
            },
            clean: function () {
                console.log("Modal Cleaned");
                hris.general.cleanInput("rowId");
                hris.general.cleanInput("skillName");
                hris.general.cleanDropDown("skillLevel");
               
            },
            fill: function () {
                console.log("Fill Form");
                var data = Skill.Grid.dataSelected;
                hris.general.bindInput("rowId", data.ID);
                hris.general.bindInput("skillName", data.skillName);
                hris.general.bindDropDown("skillLevel", data.skillLevel);
            },
            submit: function () {
                var data = {
                    ID: hris.general.getData("rowId"),
                    IDV: cIDV,
                    skillName: hris.general.getData("skillName"),
                    skillLevel: hris.general.getData("skillLevel")
                }
                console.log("Modal Submit", data);
                // Proses save
                if (data.ID) {
                    Skill.update(data);
                } else {
                    Skill.add(data);
                }
            },
            add: function () {
                Skill.Modal.clean();
                Skill.Modal.show();
            },
            edit: function () {
                if (Skill.Grid.dataSelected.uniqueid) {
                    Skill.Modal.clean();
                    Skill.Modal.fill();
                    Skill.Modal.show();
                } else {
                    Skill.Modal.error();
                }
            },
            error: function () {
                $("#myErrorModal").modal("show", true);
            }
        },
    }
    $(document).ready(function () {
        loadSkill(Skill.Modal.create);
        $("#submit").click(Skill.Modal.submit);
        $("#editButton").click(Skill.Modal.edit);
        $("#addButton").click(Skill.Modal.add);
        $("#skillTable").on('rowselect', Skill.Grid.rowSelected);
    });
</script>
<div class="row">
    <div class="col-lg-10">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button id="addButton" class="btn btn-success ">Add</button>
            <button id="editButton" class="btn btn-info">Edit</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-10">
        <div id="skillTable"></div>
    </div>
</div>

<div id="mySkillModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Skill Form</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="rowId" />
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="skillName">Skill Name</label>
                            <input type="text" class="form-control" id="skillName" />
                        </div>
                        <div class="form-group">
                            <label for="skillLevel">Level</label>
                            <div class="form-control" id="skillLevel"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="myErrorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                No data selected!
            </div>

        </div>

    </div>
</div>




