
@{
    ViewBag.Title = "MyTraining";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}


<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Training</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Training</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    $(document).ready(function () {
        var url = "http://localhost:54636/api/profileTraining/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'TrainingName', type: 'string' },
                { name: 'TrainingSponsor', type: 'string' },
                { name: 'startDate', type: 'date' },
                { name: 'endDate', type: 'date' }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#trainingTable").jqxGrid(
        {
            width: '90%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: 125 },
              { text: 'IDV', datafield: 'IDV', width: 125 },
              { text: 'Name', datafield: 'TrainingName', width: 250 },
              { text: 'Sponsor', datafield: 'TrainingSponsor', width: 150 },
              { text: 'Start', datafield: 'startDate', minwidth: 120 },
              { text: 'End', datafield: 'endDate', minwidth: 120 }
            ]
        });
    });
</script>

<div id="trainingTable"></div>

