
@{
    ViewBag.Title = "MyTraining";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}


<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">(Beta) My Training</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Training</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    function loadTraining(callback) {
        var url = "http://localhost:54636/api/profileTraining/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'TrainingName', type: 'string' },
                { name: 'TrainingSponsor', type: 'string' },
                { name: 'startDate', type: 'date' },
                { name: 'endDate', type: 'date' }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#trainingTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'ID', datafield: 'ID', width: "10%" },
              { text: 'IDV', datafield: 'IDV', width: "10%" },
              { text: 'Name', datafield: 'TrainingName', width: "25%" },
              { text: 'Sponsor', datafield: 'TrainingSponsor', width: "20%" },
              { text: 'Start', datafield: 'startDate', minwidth: "10%" },
              { text: 'End', datafield: 'endDate', minwidth: "10%" }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("TrainingName", null);
        hris.general.bindInput("TrainingSponsor", null);
        hris.general.bindDropDown("Certificate", null);
        hris.general.bindDateTime("startDate", null);
        hris.general.bindDateTime("endDate", null);
    }

    $(document).ready(function () {
        hris.general.bindButton("addButton");
        loadTraining(createForm);
    });
</script>

<div class="row">
    <div class="col-lg-10">
        <div class="pull-right btn-sm" id="addButton" data-toggle="modal" data-target="#myTrainingModal">Add</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="trainingTable"></div>
    </div>
</div>

<div id="myTrainingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Training Info</h4>
            </div>
           
            <div class="modal-body">
                <div class="form-group">
                    <label for="TrainingName">Training Name</label>
                    <input type="text" class="form-control" id="TrainingName" />
                </div>
                <div class="form-group">
                    <label for="TrainingSponsor">Sponsor</label>
                    <input type="text" class="form-control" id="TrainingSponsor" />
                </div>
                <div class="form-group">
                    <label for="Certificate">Certificate</label>
                    <div class="form-control" id="Certificate"></div>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <div class="form-control" id="startDate"></div>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <div class="form-control" id="endDate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



