
@{
    ViewBag.Title = "MyTraining";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}


<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>

<div class="row">
    <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Employee</a>
        <a href="#" class="btn btn-success">My Training</a>
    </div>

    <h1 style="margin-bottom:0; margin-top:0; text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">(Beta) My Training</h1>
    <h2 style="margin-bottom:15px; margin-top:0;   border-bottom: solid 1px #d7e9f3; padding-left:30px; font-size:14px; font-family:Calibri"></h2>
</div>
<br />

@{ Html.RenderPartial("~/Views/Shared/_SessionUser.cshtml"); }

<script type="text/javascript">
    function loadTraining(callback) {
        var url = "http://localhost:54636/api/profileTraining/" + cIDV;
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ID', type: 'string' },
                { name: 'IDV', type: 'string' },
                { name: 'TrainingName', type: 'string' },
                { name: 'TrainingSponsor', type: 'string' },
                { name: 'startDate', type: 'date' },
                { name: 'endDate', type: 'date' }
            ],
            id: 'ID',
            url: url
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#trainingTable").jqxGrid(
        {
            width: '100%',
            source: dataAdapter,
            columnsresize: true,
            columns: [
              { text: 'Name', datafield: 'TrainingName', width: "25%" },
              { text: 'Sponsor', datafield: 'TrainingSponsor', minwidth: "20%" },
              { text: 'Start', datafield: 'startDate', width: "15%" },
              { text: 'End', datafield: 'endDate', width: "15%" }
            ]
        });

        if (callback != undefined) {
            callback();
        }
    }

    function createForm() {
        console.log("Create Form");
        hris.general.bindInput("TrainingName", null);
        hris.general.bindInput("TrainingSponsor", null);
        hris.general.bindDropDown("Certificate", null);
        hris.general.bindDateTime("startDate", null);
        hris.general.bindDateTime("endDate", null);
    }
    var Training = {
        url: "http://localhost:54636/api/profileTraining",
        add: function (data) {
            console.log("create new", data);
            data.vCreatedBy = cIDV;
            $.ajax({
                url: this.url,
                method: 'POST',
                data: data,
                success: function (o) {
                    console.log("Sukses", o);
                    $('#trainingTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        update: function (data) {
            console.log("update dulu", data);
            data.vUpdatedBy = cIDV;
            $.ajax({
                url: this.url + "/" + data.ID,
                method: 'PUT',
                data: data,
                success: function (result) {
                    console.log("Sukses", result);
                    $('#trainingTable').jqxGrid('refreshdata');
                },
                error: function (e) {
                    console.log("Error", e);
                }
            });
        },
        Grid: {
            dataSelected: {},
            rowSelected: function (o) {
                console.log("rowSel", o);
                Training.Grid.dataSelected = o.args.row;
                console.log("modal data", Training.Grid.dataSelected);
            }
        },
        Modal: {
            data: {},
            create: function () {
                console.log("Create Form");
                hris.general.bindInput("rowId", null);
                hris.general.bindInput("TrainingName", null);
                hris.general.bindInput("TrainingSponsor", null);
                hris.general.bindDropDown("Certificate", null);
                hris.general.bindDateTime("startDate", null);
                hris.general.bindDateTime("endDate", null);
            },
            show: function () {
                $("#myTrainingModal").modal("show", true);
            },
            clean: function () {
                console.log("Modal Cleaned");
                hris.general.cleanInput("rowId");
                hris.general.cleanInput("TrainingName");
                hris.general.cleanInput("TrainingSponsor");
                hris.general.cleanDropDown("Certificate");
                hris.general.cleanDateTime("startDate");
                hris.general.cleanDateTime("endDate");
            },
            fill: function () {
                console.log("Fill Form");
                var data = Training.Grid.dataSelected;
                hris.general.bindInput("rowId", data.ID);
                hris.general.bindInput("TrainingName", data.TrainingName);
                hris.general.bindInput("TrainingSponsor", data.TrainingSponsor);
                hris.general.bindDropDown("Certificate", data.Certificate);
                hris.general.bindDateTime("startDate", data.startDate);
                hris.general.bindDateTime("endDate", data.endDate);
            },
            submit: function () {
                var data = {
                    ID: hris.general.getData("rowId"),
                    TrainingName: hris.general.getData("TrainingName"),
                    TrainingSponsor: hris.general.getData("TrainingSponsor"),
                    Certificate: hris.general.getData("Certificate"),
                    startDate: hris.general.getData("startDate"),
                    endDate: hris.general.getData("endDate")
                }
                console.log("Modal Submit", data);
                // Proses save
                if (data.ID) {
                    Training.update(data);
                } else {
                    Training.add(data);
                }
            },
            add: function () {
                Training.Modal.clean();
                Training.Modal.show();
            },
            edit: function () {
                if (Training.Grid.dataSelected.uniqueid) {
                    Training.Modal.clean();
                    Training.Modal.fill();
                    Training.Modal.show();
                } else {
                    Training.Modal.error();
                }
            },
            error: function () {
                $("#myErrorModal").modal("show", true);
            }
        },
    }
    $(document).ready(function () {
        loadTraining(Training.Modal.create);
        $("#submit").click(Training.Modal.submit);
        $("#editButton").click(Training.Modal.edit);
        $("#addButton").click(Training.Modal.add);
        $("#trainingTable").on('rowselect', Training.Grid.rowSelected);
    });
</script>
<div class="row">
    <div class="col-lg-10">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button id="addButton" class="btn btn-success ">Add</button>
            <button id="editButton" class="btn btn-info">Edit</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-10">
        <div id="trainingTable"></div>
    </div>
</div>

<div id="myTrainingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Training Info</h4>
            </div>
           
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" class="form-control" id="rowId" />
                </div>
                <div class="form-group">
                    <label for="TrainingName">Training Name</label>
                    <input type="text" class="form-control" id="TrainingName" />
                </div>
                <div class="form-group">
                    <label for="TrainingSponsor">Sponsor</label>
                    <input type="text" class="form-control" id="TrainingSponsor" />
                </div>
                <div class="form-group">
                    <label for="Certificate">Certificate</label>
                    <div class="form-control" id="Certificate"></div>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <div class="form-control" id="startDate"></div>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <div class="form-control" id="endDate"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myErrorModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                No data selected!
            </div>

        </div>

    </div>
</div>


