
@{
    ViewBag.Title = "Structure";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<script src=@Url.Content("~/Scripts/hrisframework/hris.js")></script>
<script src=@Url.Content("~/Scripts/jquery.ui.min.js")></script>
<script src=@Url.Content("~/Scripts/primitives/primitives.min.js")></script>

<link rel="stylesheet" href=@Url.Content("~/Scripts/primitives/primitives.latest.css") />

<script type="text/javascript">
    Structure = {
        options : new primitives.orgdiagram.Config(),
        items: [],
        getParent : function(){
        },
        data: function (obj) {
            Structure.items = [];
            $.each(obj, function (i, v) {
                var img;
                if (i == 0) {
                    v.parentIDV = null;
                }
                if (v.IDVImagePath != null) {
                    var img = (v.IDVImagePath).substring(1);
                }
                var item = new primitives.orgdiagram.ItemConfig({
                    id: v.IDV,
                    parent: v.parentIDV,
                    title: v.Name,
                    description: v.NIP,
                    image: img
                });
                Structure.items.push(item);
            });
            Structure.init();
        },
        load: function (callback) {
            $.ajax({
                url: '/api/employee/getStructure',
                success: function (obj) {
                    console.log("Obj", obj);
                    Structure.data(obj);
                },
                error: function (e) {
                    console.log("Err", e);
                }
            });
        },
        init: function () {
            console.log("Init");
            console.log("items",this.items);
            var opt = this.options;

            opt.items = this.items;
            opt.cursorItem = null;
            opt.hasSelectorCheckbox = primitives.common.Enabled.False;

            $("#basicdiagram").orgDiagram(opt);
        },
    }

    $(document).ready(function () {
        Structure.load();
    });
</script>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Home</a>
        </li>
        <li class="active">Structure</li>
    </ul><!-- /.breadcrumb -->
</div>

<div class="page-content">
    <div class="col-sm-12">
        <div class="widget-box transparent" id="recent-box">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">
                    <i class="ace-icon fa fa-rss orange"></i>ORGANIZATION STRUCTURE
                </h4>
                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="recent-tab"></ul>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-4">
                    <div id="basicdiagram" style="min-width: 720px; height: 480px; border-width: 1px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


