
@{
    ViewBag.Title = "MaintainData";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<h2>MaintainData</h2>

<div class="row">
    <div class="col-md-5">
        <h1 style="text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">EMPLOYEE PROFILE</h1>
        <h2 style="padding-left:30px; font-size:14px; font-family:Calibri">Master Data</h2>
    </div>

    Html.RenderPartial("~/Views/Shared/_Product.cshtml", product);
    

</div>


