body {
}

.circular {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(photo/person.png) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}

.imgProfileContainer {
    height:60px;
    width:60px;
    position:relative;  
    border-radius:100%;
    overflow:hidden;
    border: 1px solid red;
}

.imgProfile {
    position:absolute;
    left:-50%; right:-50%; top:0;
    margin:auto;
    height:100%; width:auto;
}

input, textarea{
    background-color: #47fff9 ;
    color: #FFF;
}