/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
----*/
/* reset */

/* start editing from here */




form {
    margin: 0 0 0 0;
    background: #0A192A;
    border-radius: 0.4em;
    border: 1px solid #0A192A;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

    form:after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100px;
        left: 20%;
        top: 0;
    }

    form:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 5px;
        border-radius: 50%;
        left: 34%;
        top: -7px;
        box-shadow: 0 0 6px 4px #fff;
    }

.inset {
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 1px solid #000;
}

form h1 {
    text-align: center;
    padding: 0 0;
    padding-bottom: 0;
    
}

    form h1:after {
        content: "";
        display: block;
        width: 250px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50px;
        pointer-events: none;
        -webkit-transform: rotate(70deg);
        background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    }

form h1 {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
    position: relative;
}

    form h1 span {
        padding: 5px;
        background: #0184ff;
    }

label {
    color: rgba(137, 192, 243, 0.8);
    display: block;
    font-size: 13px;
}

input[type=text],
input[type=password] {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 8px 5px;
    background: rgb(167,167,167); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(167,167,167,1) 0%, rgba(181,181,181,1) 21%, rgba(228,228,228,1) 79%, rgba(242,242,242,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,167,167,1)), color-stop(21%,rgba(181,181,181,1)), color-stop(79%,rgba(228,228,228,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(167,167,167,1) 0%,rgba(181,181,181,1) 21%,rgba(228,228,228,1) 79%,rgba(242,242,242,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    border: 1px solid #222;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    border-radius: 0.3em;
    margin-bottom: 20px;
    color: #000;
    font-size: 15px;
    outline: none;
}

label[for=remember] {
    color: #fff;
    display: inline-block;
    font-size: 13px;
}

input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
}

.p-container {
    padding: 0 20px 20px 20px;
}

    .p-container:after {
        clear: both;
        display: table;
        content: "";
    }

    .p-container span a {
        font-size: 14px;
        display: block;
        float: left;
        color: #0d93ff;
        padding-top: 4px;
    }

input[type=submit] {
    padding: 5px 20px;
    border: 1px solid #439F07;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: rgb(138,199,84); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(138,199,84,1) 0%, rgba(121,201,50,1) 45%, rgba(102,190,24,1) 48%, rgba(57,150,2,1) 97%, rgba(102,174,63,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,199,84,1)), color-stop(45%,rgba(121,201,50,1)), color-stop(48%,rgba(102,190,24,1)), color-stop(97%,rgba(57,150,2,1)), color-stop(100%,rgba(102,174,63,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(138,199,84,1) 0%,rgba(121,201,50,1) 45%,rgba(102,190,24,1) 48%,rgba(57,150,2,1) 97%,rgba(102,174,63,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac754', endColorstr='#66ae3f',GradientType=0 ); /* IE6-9 */
    color: #fff;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    outline: none;
}

    input[type=submit]:hover {
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -10px 10px rgba(255,255,255,0.1);
        background: rgb(102,174,63); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(102,174,63,1) 0%, rgba(57,150,2,1) 3%, rgba(102,190,24,1) 52%, rgba(121,201,50,1) 55%, rgba(138,199,84,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,174,63,1)), color-stop(3%,rgba(57,150,2,1)), color-stop(52%,rgba(102,190,24,1)), color-stop(55%,rgba(121,201,50,1)), color-stop(100%,rgba(138,199,84,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(102,174,63,1) 0%,rgba(57,150,2,1) 3%,rgba(102,190,24,1) 52%,rgba(121,201,50,1) 55%,rgba(138,199,84,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ae3f', endColorstr='#8ac754',GradientType=0 ); /* IE6-9 */
    }


/*----//end-responsive design-----*/
