
@{
    ViewBag.Title = "NotAllowed";
    Layout = "~/Views/Shared/_LayoutLeftNav.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-xs-center">
                <img src="~/Content/bg/UnauthorizedAccess.jpg" class="img-fluid m-x-auto d-block" />
            </div>
        </div>
    </div>
</div>