@model  BusinessEntities.CrudEntities.classificationEntities

@{
    Layout = null;
}


    <script type="text/javascript">
        $(document).ready(function () {
            // themes
            //============================================================================================================
            $.jqx.theme = "orange";


            //WIndows popup
            //============================================================================================================
            var main = $('body');
            var offset = main.offset();
            $('#customWindow').jqxWindow({
                width: 400,
                isModal: true,
                modalOpacity: 0.9,
                height: 265, resizable: false,
                cancelButton: $('#cancelButton'),
                position: { x: offset.left + 50, y: offset.top + 50 },
                initContent: function () {
                    hris.general.bindInput("valueData");
                    hris.general.bindDropDown("getLevel",null);
                    hris.general.bindDropDown("getValueType",null);
                    hris.general.bindButton('submitButton');
                    hris.general.bindButton('cancelButton');
                    //$('#cancelButton').jqxButton({ width: '120px', height: '45px' });
                }
            });
            $('#customWindow').jqxWindow('close');
            $("#customWindow").css('visibility', 'visible');

           
            //Grid
            //============================================================================================================
            
            var dataAdapter = hris.data._getRoleBased();

            $("#dataTable").jqxGrid(
            {
                width: '100%',
                theme: 'fresh',
                pageable: true,
                pagerButtonsCount: 10,
                source: dataAdapter,
                //columnsResize: true,
                editable: true,
                selectionMode: 'singleRow',
                autoheight: true,
                columns: [
                    { text: 'ID', datafield: 'ID', hidden: true },
                    { text: 'Level', datafield: 'empLevel', displayfield: 'LevelName', width: '20%' },
                    {
                        text: 'policyType', datafield: 'policytype', displayfield: 'policyName', width: '40%', columntype: 'dropdownlist',
                        createeditor: function (row, value, editor) {
                            editor.jqxDropDownList({ source: data, displayMember: 'text', valueMember: 'id' });
                        }
                    },
                    { text: 'Value', datafield: 'value', width: '20%', editable: false },
                    { text: 'valueType', datafield: 'valueType', displayfield: 'valueName', width: '20%', editable: false }
                ]
            });


            //Button
            //============================================================================================================
            var txType;
            $('#button').jqxButtonGroup({
                mode: 'default',
                theme: 'fresh'
            });
            $('#button').on('buttonclick', function (event) {
                txType = event.args.index;
                $('#customWindow').jqxWindow('open');
            });



            //TREE
            //============================================================================================================
            
            var data = hris.data._getRoleBasedTree();
            data.dataBind();
            //dataAdapter.dataBind();
            var records = data.getRecordsHierarchy('id', 'parentid', 'items', [{ name: 'text', map: 'label' }]);
            $('#jqxWidget').jqxTree({ source: records, width: '450px', height: '400px' });


            //Event
            //============================================================================================================
            var policy;

            $('#jqxWidget').on('itemClick', function (event) {
                var args = event.args;
                var item = $('#jqxWidget').jqxTree('getItem', args.element);
                var label = item.label;
                console.log("ID " + item.id);
                console.log("parentID " + item.parentid);
                console.log("Name " + item.text);
                console.log("Value " + item.value);
                policy = item.value;

                var dataAdapter = new $.jqx.dataAdapter(hris.data._getRoleBasedBypolicyType(policy));
                $("#dataTable").jqxGrid({ source: dataAdapter });
                //dataAdapter = hris.data._getRoleBasedBypolicyType(policy);
                //$("#dataTable").jqxGrid('updatebounddata');
            });

            $("#submitButton").click(function () {
                if (policy == null) {
                    alert("Select Medical or Annual Leave first");
                } else {
                    var row = new Object();
                    row.ID = null;
                    row.empLevel = hris.general.getData("getLevel");
                    row.valueType = hris.general.getData("getValueType");
                    row.value = hris.general.getData("valueData");
                    row.policyType = policy;
                    console.log('txType:', txType );
                    process(txType, row);
                    $('#customWindow').jqxWindow('close');
                }
            });


            //Data
            //============================================================================================================
            function process(txType, row) {
                switch (txType) {
                    case 0: 
                        $.ajax({
                                cache: false,
                                dataType: 'json',
                                url: '/api/role/createRoleBased',
                                data: row,
                                type: "POST",
                                success: function (data, status, xhr) {
                                    $('#dataTable').jqxGrid('updatebounddata');
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    console.log("Error " + errorThrown);
                                }
                        }); break;
                    case 1:
                        $.ajax({
                            cache: false,
                            dataType: 'json',
                            url: '/api/role/updateRoleBased/' + row.ID,
                            contentType: 'application/json',
                            data: row,
                            type: 'PUT',
                            success: function (data, status, xhr) {
                                $('#dataTable').jqxGrid('updatebounddata');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log("Error " + errorThrown);
                            }
                        });
                        break;
                    case 2: break;
                }
            }
            
           


        });
    </script>

<div>
    <div class='default'>

        <div class="row">
            <div class="col-md-12">
                <h1>Matrix Standard</h1>
                <hr />
            </div>
        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="col-md-6">
                    <div id='jqxWidget'></div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div id='dataTable'></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="align-content:stretch;">
                            <div id='button'>
                                <button style="padding:4px 16px;" id="buttonCreate">
                                    Create
                                </button>
                                <button style="padding:4px 16px;" id="buttonUpdate">
                                    Update
                                </button>
                                <button style="padding:4px 16px;" id="buttonDelete">
                                    Delete
                                </button>
                            </div><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="customWindow" style="overflow: hidden; visibility: hidden;">
        <div id="customWindowHeader">
            <span id="captureContainer" style="float: left">HR Based Matrix Form </span>
        </div>
        <div id="customWindowContent">
            <div style="margin: 10px">
                <div class="row">
                    <div class="col-md-6">
                        <label for="valueData">Amount</label><br />
                        <input type="text" style="width: 175px; border: 1px solid #aaa" id="valueData" />
                    </div>
                    <div class="col-md-6"><label for="getValueType">Value Type</label><div id="getValueType"></div></div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="getValueType">Level</label>
                        <div id="getLevel"></div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-6"><input type="button" value="Submit" style="margin-bottom: 5px;" id="submitButton" /></div>
                    <div class="col-md-6"><input type="button" value="Cancel" id="cancelButton" /></div>
                </div>
            </div>
        </div>
    </div>
</div>
