<h2>please apply Leave</h2>

<script type="text/javascript">
    $(document).ready(function () {
        hris.general.bindDropDown("getPolicyType", null);
        hris.general.bindDropDown("getNameEmployee", null);
        hris.general.bindDropDown("getNameSuperior", null);

        hris.general.bindDropDown("getValueType", null);
        hris.general.bindInput("CatPolicyName");
        hris.general.bindButton('submitCategory');
        hris.general.bindButton('cancelCategory');

    });
</script>
<div class="con"
<div class="row">
    <div class="col-sm-5">
        <div class="row">
            <label for="getPolicyType">Leave Type</label>
            <div id="getPolicyType"></div>
        </div>
        <div class="row"><div id="getNameEmployee"></div></div>
        <div class="row"><div id="getNameSuperior"></div></div>
        <div class="row"><div id=""></div></div>
        <div class="row"><div id=""></div></div>
        <div class="row"><div id=""></div></div>
        <div class="row"><div id=""></div></div>
    </div>

    <div class="col-sm-9">

    </div>
</div>