<script type="text/javascript">
        $(document).ready(function () {
            var url = "";
            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'purposeID', type: 'int' },
                    { name: 'purposeName', type: 'int' },
                    { name: 'purposeStatus', type: 'int'},
                    { name: 'purposeStatusName', type: 'string'},
                    { name: 'IDVRequest', type: 'int' },
                    { name: 'IDVRequestName', type: 'string' },
                    { name: 'IDVApproval', type: 'int' },
                    { name: 'vCreatedBy', type: 'int' },
                    { name: 'vCreatedByName', type: 'string' },
                    { name: 'vUpdatedBy', type: 'int' },
                    { name: 'vUpdatedByName', type: 'int' },
                    { name: 'createTime', type: 'datetime' },
                    { name: 'updateTime', type: 'datetime' }
                ],
                id: 'purposeID',
                url: url
            };
            var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties, rowdata) {
                if (value < 20) {
                    return '<span style="margin: 4px; float: ' + columnproperties.cellsalign + '; color: #ff0000;">' + value + '</span>';
                }
                else {
                    return '<span style="margin: 4px; float: ' + columnproperties.cellsalign + '; color: #008000;">' + value + '</span>';
                }
            }
            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) { },
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            // initialize jqxGrid
            $("#jqxgrid").jqxGrid(
            {
                width: 865,
                theme: 'ui-redmond',
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: true,
                selectionmode: 'multiplecellsadvanced',
                columns: [
                    { text: 'ID', datafield: 'purposeID', width: 20 },
                    { text: 'Activity', datafield: 'purposeName', width: 100 },
                    { text: 'Status', datafield: 'purposeStatuesName', width: 100 },
                    { text: 'Superior', datafield: 'IDVApprovalName', width: 200 },
                    { text: 'Created By', columngroup: 'User', datafield: 'vCreatedByName', width: 150 },
                    { text: 'Updated By', columngroup: 'User', datafield: 'vUpdatedByName', width: 150 },
                    { text: 'create', columngroup: 'Date', datafield: 'createTime', width: 70 },
                    { text: 'update', columngroup: 'Date', datafield: 'updateTime', width: 70 }
                ],
                columngroups: [
                    { text: 'Timestamps', parentGroup: 'stamps', align: 'center', name: 'Date' },
                    { text: 'User', parentGroup: 'stamps', align: 'center', name: 'User' },
                    { text: 'Stamps', align: 'center', name: 'Stamps' }
                ]
            });
        });
</script>
<div id="jqxgrid" style="margin-left:0;"></div>