<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSSL" value="true"/>
    <add key="LoginMail" value="sofyan.besmart@gmail.com"/>
    <add key="LoginPass" value="newnetwork"/>
    <add key="Port" value="587"/>
  </appSettings>
</configuration>